#nigth-sky .star {
    --travel: 100vw;
    --size: 1;
}

#nigth-sky .star {
    position: relative;
    filter: drop-shadow(0 0 6px ligthseagreen);
    opacity: 1;
    width: calc(var(--size) * 2px);
    height: calc(var(--size) * 100px);
    transform: rotate(-45deg);
    animation: shoothing-star ease-in-out infinite;
    animation-duration: var(--duration);
    animation-delay: var(--delay);
    top: var(--top);
    left: var(--left);
} 
